*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html, body{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    position: relative;
}

.nav{
    width: 100%;
    height: 70px;
    background-color: #051C35;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.nav h1{
    color: white;
}

/* Hero - section  */


.hero-sec{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #080606;
}

.hero-sec video{
    opacity: 40%;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.hero-desc h1{
    position: relative;
    color: #fff;
    font-size: 5rem;
    font-weight: 900;
    top: -30px;
}

.hero-desc{
    position: relative;
    width: 70%;
    top: -40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.hero-desc p{
    color: white;
    line-height: 30px;
    font-size: 1.8rem;
}

.hero-btn{
    gap: 40px;
    top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1rem;

}

.hero-btn .btn-1{
    padding: 12px 20px;
    text-decoration: none;
    border: 2px solid #fe25cf;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}

.hero-btn .btn-2{
    padding: 12px 20px;
    text-decoration: none;
    border: 2px solid #fe25cf;
    color: #fff;
    border-radius: 10px;
}

.btn-1:hover{
    background: #fe25cf;
    box-shadow: 3px 5px 25px #fe25cf,-5px -7px 25px #fe25cf;
    /* box-shadow: 2px 3px 15px #f5914f,-3px -4px 10px #f5914f; */
}
.btn-2:hover{
    background: #fe25cf;
    box-shadow: 3px 5px 25px #9f4d8d,-5px -7px 25px #fe25cf;
}


/* section - 2 */

.sec-2{
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    /* display: flex; */
    background: #000000;
    background-image: url(Screenshot\ 2024-03-15\ at\ 1.54.43\ PM.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.head-2{
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.sec2-about{
    top: 100px;
    width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.sec2-about h2 {
    left: 200px;
    color: rgb(235, 229, 229);
    font-size: 35px;
}

.para p{
    width: 400px;
    position: relative;
    color: rgb(155, 151, 151);
    font-size: 20px;
    line-height: 29px;
    top: 30px;
    padding-bottom: 20px;
}


/* section - 3  */
.sec-3{
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}


.sec3 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.sec3-img{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

.sec3-img img{
    width: 400px;
    height: 400px;
}

.sec3-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -320px;
}


.left{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    flex-direction: column;
}

.left .left-1{
    color: white;
    float: left;
    border: 2px solid white;
    margin-bottom: 10px;
    position: relative;
    right: 50px;
    padding: 10px;
    border-radius: 20px;
}

.sec3-main .left-2{
    color: white;
    float: right;
    border: 2px solid white;
    margin-bottom: 10px;
    position: relative;
    left: 350px;
    top: 30px;
    padding: 10px;
    border-radius: 20px;
}

.left-1 p{
    font-size: 20px;
    padding-bottom: 10px;
}

.left-2 p{
    font-size: 20px;
    padding-bottom: 10px;
}

.right-1 p{
    font-size: 20px;
    padding-bottom: 10px;
}

.left span{
    color: grey;
}

.right span{
    color: grey;
}


.right{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    flex-direction: column;
    position: relative;
    top: -40px;
}

.sec3-main .right-1{
    color: white;
    float: right;
    border: 2px solid white;
    margin-bottom: 10px;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 20px;
}

.left-1:hover{
    transition: 0.9s;
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid grey;
} 

.left-2:hover{
    transition: 0.9s;
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid grey;
} 


.right-1:hover{
    transition: 0.9s;
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid grey;
} 






/* .section - 4 */

.sec-4{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000;
}

.sec-4 h2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
    position: relative;
    top: 20px;
}

.sec-4-box{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sec4-box{
    flex-wrap: wrap;
    height: 280px;
    width: 400px;
    background-image: url(bggg.png);
    background-size: cover;
    padding: 15px;
    margin: 20px;
    position: relative;
    top: 60px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: 0.9s ease-out;
}

.sec4-box p img{
    width: 80px;
    height: 100px;
    padding-bottom: 15px;
}


.sec4-box h3{
    font-size: 25px;
    padding-bottom: 15px;
    color: white;
}

.sec4-box span{
    color: #a09b9b;
}

.sec4-box::after{
    content: "";
    width: 15px;
    height: 100%;
    background-color: #fe25cf;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.6s ease-in 0.9s ;
}

.sec4-box:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #fe25cf;
    background-color: g;
    position: absolute;
    transition: 0.8s ease-in 0.9s;
    border-radius: 20px;
}

.abcd{
    height: 50px;
    background: black;
}









